.dark {
    --color-background: rgb(26, 25, 25);
    --color-font: rgb(241, 234, 234);
    --font-wieght: 200;
    --font-wieght-bold: 400;
}

.light {
    --color-background: rgb(251, 247, 247);
    --color-font: rgb(21, 21, 21);
    --font-wieght: 400;
    --font-wieght-bold: 500;
}

.App {
    height: 100VH;
    width: 100VW;
    background-color: var(--color-background);
    color: var(--color-font);
    font-weight: var(--font-wieght);
}

#content-box {
    position: absolute;
    width: 95%;
    height: 90VH;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    margin: auto;
    border: solid var(--color-font) 1px;
}

